{{define "head"}}
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <link rel="stylesheet" href="https://unpkg.com/mvp.css">
        <title>{{.}} | 인호 코인</title>
    </head>
{{end}}